"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  "ansible-vault":
    path: "/usr/bin/ansible-vault"
  "atom-material-ui":
    colors:
      genAccent: true
    tabs:
      compactTabs: true
      stretchedTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    disabledPackages: [
      "atom-bootstrap4"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    fontSize: 15
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "164cfdfa-2140-4a5b-a2bd-e1d34eaa5c00"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
